.edit-content {
  box-sizing: border-box;
  background-color: white;
  color: #2c3e50;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.button-group {
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
  
.update-button, .cancel-button {
	padding: 10px;
	font-size: 1rem;
	font-weight: bold;
	border-color: #00bc77;
	width: 48%;
	background-color: #00bc77;
	color: #fff;
}

  